<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>活动列表</title>

    <link rel="stylesheet" href="/layui/frame/layui/css/layui.css" media="all" />
    <script src="/webjars/jquery/3.2.1/dist/jquery.min.js"></script>
</head>
<body>



<script type="text/javascript" src="/layui/frame/layui/layui.js"></script>
<script type="text/javascript" src="/layui/js/activity.js"></script>
</body>
</html>