<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=favicon.ico>
    <title>活动开展</title>
    <link href="/activity/css/app.afe099b6.css" rel=preload as=style>
    <link href="/activity/js/app.e6a5c7e7.js" rel=preload as=script>
    <link href="/activity/js/chunk-vendors.1831ec32.js" rel=preload as=script>
    <link href="/activity/css/app.afe099b6.css" rel=stylesheet>
</head>
<body>
<noscript>
    <strong>很抱歉，如果您的没有启用 JavaScript, 该页面就不能正常工作，请允许它运行。</strong>
</noscript>
<div id=app></div>
<script src="/activity/js/chunk-vendors.1831ec32.js"></script>
<script src="/activity/js/app.e6a5c7e7.js"></script>
</body>
</html>