<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>欢迎注册软件协会会员~</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/css/form-elements.css">
        <link rel="stylesheet" href="/assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>欢迎注册软件协会会员~</strong></h1>
                            <span th:text="${result}" style="color:#D8BFD8;"></span>
                            <div class="description">
                            	<p>
	                            	极尽方寸容天下； 
	                            	共聚键盘书辉煌!
                            	</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>老铁输入你的信息吧</h3>
                            		<p>PS: 涉及到一切加分信息，可以乱输入哟~</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-key"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" method="post" class="login-form" th:action="@{/register}" th:object="${user}" action="/register">

                                    <div class="form-group">
                                        <label class="sr-only" for="department">系部 </label>
                                        <input type="text" name="department" placeholder="系部..." class="form-control" id="department">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="clazz">班级 </label>
                                        <input type="text" name="clazz" placeholder="班级..." class="form-control" id="clazz">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="username">学号 </label>
                                        <input type="text" name="username" placeholder="学号..." class="form-control" id="username">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="name">姓名 </label>
                                        <input type="text" name="name" placeholder="姓名..." class="form-control" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="tel">联系电话 </label>
                                        <input type="text" name="tel" placeholder="联系电话..." class="form-control" id="tel">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="qq">QQ </label>
                                        <input type="text" name="qq" placeholder="QQ邮箱..." class="form-control" id="qq">
                                    </div>

                                    <div class="form-group">
                                        <label class="sr-only" for="password">密码 </label>
                                        <input type="password" name="password" placeholder="密码..." class="form-control" id="password">
                                    </div>
			                        <button type="submit" class="btn">戳这里 注册!</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <!-- Javascript -->
        <script src="/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/js/jquery.backstretch.min.js"></script>
        <script src="/assets/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
            <script src="/assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>